# {{ ansible_managed }}

server {
  listen 80;
  listen [::]:80;

  server_name {{ jitsi_meet_domain }};

  # Let's Encrypt challenges
  location /.well-known/ {
    alias {{ letsencrypt_well_known_dir }}/;
  }

  # Redirect non-https traffic to https
  location / {
    return 301 https://$host$request_uri;
  }
}
