# {{ ansible_managed }}

application loop {
    allow publish 127.0.0.1;
    allow publish ::1;
    allow publish {{ obs_public_ip }};
    deny publish all;
    allow play all;

    live on;

{% for voctomix in voctomixes %}
{% if voctomix.obs_push_to_voctomix %}
    exec ffmpeg -i rtmp://localhost/$app/$name -async 1 -vsync -1
      -c:v rawvideo -c:a pcm_s16le
      -pix_fmt yuv420p
      -colorspace:v 'bt709'
      -color_primaries:v 'bt709'
      -color_trc:v 'bt709'
      -color_range:v 'tv'
      -f matroska
      tcp://{{ voctomix.host }}:{{ voctomix.port }}
      ;
{% endif %}
{% endfor %}

{% if obs_push_direct %}
    push {{ streaming.rtmp.location }};
{% endif %}

    # Make sure clients always get video first; sometimes they get confused if
    # the first packet they receive is an audio packet.
    wait_video on;
    wait_key on;
}
