# {{ ansible_managed }}

[Unit]
Description=VNC server for X11
Conflicts=xlogout.target

[Service]
Type=forking
ExecStart=/usr/bin/x11vnc -forever -bg -o /var/log/x11vnc.log \
          -passwdfile /etc/x11vnc/passwd -rfbport {{ vnc_port }} \
          {% if vnc_tls %}-ssl /etc/x11vnc/merged.pem{% endif %} -xkb -shared -norc
Restart=always
RestartSec=1s
Nice=0

[Install]
WantedBy=xlogin.target
