local inspect = require('inspect')

-- Static inputs.

{% if nageru.bgimage_url is defined %}
local BACKGROUND = "/var/cache/nageru/bgimage.{{ nageru.bgimage_url.split('.')|last }}"
{% else %}
local BACKGROUND = "bg.jpeg"
{% endif %}

-- Network Streams we ingest as inputs.

local LOOPY = "{{ nageru.loopy_url }}"

function video_url_signal(url)
    return VideoInput.new(url, Nageru.VIDEO_FORMAT_YCBCR)
end

local loopy_video = video_url_signal(LOOPY)

function reconnect_loopy()
  loopy_video:disconnect()
end

ThemeMenu.set(
  { "Reconnect &Loopy", reconnect_loopy }
)

-- Signals are what Nageru receives as inputs.

local inputs = {
    {camera=true, name="Cam 1", signal=0, preview_channel=2},
    {camera=true, name="Cam 2", signal=1, preview_channel=3},
    {camera=false, name="Presenter", signal=2, preview_channel=4},
    {camera=false, name="Loopy", video=loopy_video,
     signal=VideoInput.get_signal_num(loopy_video), preview_channel=5,
     overrides_audio="Loopy"},
}

local audio_initialized = false;
local default_audio_bus = 0;

function fullscreen_scene()
    local scene = Scene.new(16, 9)
    local scene_input = scene:add_input(0)
    local wb_effect = scene:add_white_balance()
    scene:finalize()
    return {scene=scene, input=scene_input}
end


-- Valid values for transition_type. (Cuts are done directly, so they need no entry.)
local NO_TRANSITION = 0
local ZOOM_TRANSITION = 1  -- Also for slides.
local FADE_TRANSITION = 2


function make_sbs_input(scene)
    return {
        input = scene:add_input(0),  -- Live inputs only.
        resample_effect = scene:add_effect({ResampleEffect.new(), ResizeEffect.new()}),
        wb_effect = scene:add_white_balance(),
        padding_effect = scene:add_effect(IntegralPaddingEffect.new())
    }
end

function make_bg_img(scene, filename)
    local bg_img = ImageInput.new(filename)
    local bg_input = scene:add_input(bg_img)
    return bg_input
end

function make_bg_vid(scene, filename)
    local bg_video = VideoInput.new(filename, Nageru.VIDEO_FORMAT_YCBCR)
    local bg_input = scene:add_input(bg_video)
    return bg_input
end

-- The main live scene.
function make_sbs_scene()
    local scene = Scene.new(16, 9)

    local bg_input
    if string.find(BACKGROUND, "%.png$") or string.find(BACKGROUND, "%.jpg$") then
        bg_input = make_bg_img(scene, BACKGROUND)
    else
        bg_input = make_bg_vid(scene, BACKGROUND)
    end

    local input0 = make_sbs_input(scene)
    input0.input:display(0)
    input0.padding_effect:set_vec4("border_color", 0.0, 0.0, 0.0, 0.0)

    local input1 = make_sbs_input(scene)
    input1.input:display(1)
    input1.padding_effect:set_vec4("border_color", 0.0, 0.0, 0.0, 0.0)

    local overlay1 = scene:add_effect(OverlayEffect.new(), bg_input, input0.padding_effect)
    scene:add_effect(OverlayEffect.new(), overlay1, input1.padding_effect)
    scene:finalize()

    return {
        scene = scene,
        input0 = input0,
        input1 = input1
    }
end

function display_signal(output_input, signal)
    local input = signal_to_input(signal)
    if input.video then
        output_input:display(input.video)
    else
        output_input:display(signal)
    end
end

function configure_fullscreen_scene_inputs(composite_scene, signals)
    display_signal(composite_scene.scene.input, signals[1])
    return composite_scene.scene.scene
end

function configure_sbs_scene_inputs(composite_scene, signals, width, height, input_resolutions)
    display_signal(composite_scene.scene.input0.input, signals[1])
    display_signal(composite_scene.scene.input1.input, signals[2])
    prepare_sbs_scene(composite_scene.scene, 0.0, NO_TRANSITION, 0, nil, width, height, input_resolutions, true, composite_scene.coords0, composite_scene.coords1)
    return composite_scene.scene.scene
end

function sbs_equal_coords(i)
    local gutter_width = 16
    local width = (1280 - gutter_width * 3) / 2
    local height = 720 * width / 1280
    local x = i * (width + gutter_width) + gutter_width
    local y = (720 - height) / 2
    return {x=x, y=y, width=width, height=height}
end

function sbs_preview_coords(i)
    local gutter_width = 16
    local padding_height = 48
    local input1_width = 384
    local x, y, width, height
    if i == 0 then
        width = 1280 - gutter_width * 3 - input1_width
        height = 720 * width / 1280
        x = gutter_width
        y = padding_height
    elseif i == 1 then
        width = input1_width
        height = 720 * width / 1280
        x = 1280 - width - gutter_width
        y = 720 - height - padding_height
    end
    return {x=x, y=y, width=width, height=height}
end

local sbs_scene = make_sbs_scene()

local composite_scenes = {
    {scene=fullscreen_scene(), name="Fullscreen", preview_channel=6,
     configure_inputs=configure_fullscreen_scene_inputs},
    {scene=sbs_scene, name="Side by Side Equals", preview_channel=7,
     coords0=sbs_equal_coords(0),
     coords1=sbs_equal_coords(1),
     configure_inputs=configure_sbs_scene_inputs},
    {scene=sbs_scene, name="Side by Side Preview", preview_channel=8,
     coords0=sbs_preview_coords(0),
     coords1=sbs_preview_coords(1),
     configure_inputs=configure_sbs_scene_inputs},
}

local FULLSCREEN_COMPOSITE = 1

-- Current state of the live and preview channels
local live_composite = {composite_scene_id=FULLSCREEN_COMPOSITE, signals={0, 1}}
local preview_composite = {composite_scene_id=FULLSCREEN_COMPOSITE, signals={1, 0}}

function signal_in_composite(signal, composite)
    for i=1, #composite.signals do
        if signal == composite.signals[i] then
            return true
        end
    end
    return false
end

-- Set some global state. Unless marked otherwise, these can only be set once,
-- at the start of the program.

-- Set the number of available channels on top of the live and preview
Nageru.set_num_channels(#inputs + #composite_scenes)

-- Sets, for each channel, which signal it corresponds to (starting from 0).
-- The information is used for whether right-click on the channel should bring up
-- an input selector or not. Only call this for channels that actually correspond
-- directly to a signal (ie., live inputs, not live (0) or preview (1)).
for _, input in pairs(inputs) do
    if input.camera then
        Nageru.set_supports_wb(input.preview_channel, true)
    end
    if not input.video then
	-- Show right-click menu:
	Nageru.set_channel_signal(input.preview_channel, input.signal)
    end
    Nageru.set_channel_name(input.preview_channel, input.name)
end

for _, composite_scene in pairs(composite_scenes) do
    if composite_scene.preview_channel then
        Nageru.set_channel_name(composite_scene.preview_channel, composite_scene.name)
    end
end

function channel_to_signal(channel)
    if channel < 2 or channel >= #inputs + 2 then
        return nil
    end
    return channel - 2
end

function channel_to_composite_scene_id(channel)
    if channel < #inputs + 2 then
        return nil
    end
    -- composite_scenes is 1-indexed, channels is 0-indexed
    return channel - #inputs - 1
end

function signal_to_input(signal)
    -- signals are 0-indexed, inputs are 1-indexed
    return inputs[signal + 1]
end

-- API ENTRY POINT
-- Called every frame. Returns the color (if any) to paint around the given
-- channel. Returns a CSS color (typically to mark live and preview signals);
-- "transparent" is allowed.
-- Will never be called for live (0) or preview (1).
function channel_color(channel)
    local signal_num = channel_to_signal(channel)
    if signal_num then
        for i, signal in ipairs(preview_composite.signals) do
            if signal == signal_num then
                if i == 1 then
                    return "red"
                elseif i == 2 then
                    return "blue"
                end
            end
        end
    end
    return "transparent"
end

-- API ENTRY POINT
-- Called every frame.
function get_transitions(t)
    if live_composite == preview_composite then
        -- No transitions possible.
        return {}
    else
        return {"Cut"}
    end
end

-- API ENTRY POINT
-- Called when the user clicks a transition button. For our case,
-- we only do cuts, so we ignore the parameters; just switch live and preview.
function transition_clicked(num, t)
    local transition = get_transitions(t)[num+1]
    if transition == nil then
        return
    end

    local temp = live_composite
    live_composite = preview_composite
    preview_composite = temp

    if live_composite.composite_scene_id ~= preview_composite.composite_scene_id then
        preview_composite.signals = live_composite.signals
    end

    setup_audio_for_live_signals(live_composite.signals)
end

function setup_audio_for_live_signals(signals)
    local audio_overridden = false
    for i, signal in ipairs(signals) do
        local input = signal_to_input(signal)
        if input.overrides_audio then
            override_audio(input.overrides_audio)
            audio_overridden = true
            break
        end
    end
    if not audio_overridden then
        default_audio()
    end
end

function override_audio(override_bus_name)
    -- Mute all busses except override_bus
    for i = 0, Nageru.get_num_audio_buses() - 1 do
        local name = Nageru.get_audio_bus_name(i)
        Nageru.set_audio_bus_mute(i, name ~= override_bus_name)
    end
end

function default_audio()
    for i = 0, Nageru.get_num_audio_buses() - 1 do
        Nageru.set_audio_bus_mute(i, i ~= default_audio_bus)
    end
end

-- API ENTRY POINT
function channel_clicked(num)
    if num < #inputs then
        if num ~= preview_composite.signals[1] then
            preview_composite.signals = {num, preview_composite.signals[1]}
        end
    else
        preview_composite.composite_scene_id = num - #inputs + 1
    end
end

function configure_scene(composite, width, height, input_resolutions)
    local composite_scene = composite_scenes[composite.composite_scene_id]
    return composite_scene.configure_inputs(composite_scene, composite.signals, width, height, input_resolutions)
end

-- API ENTRY POINT
-- Called every frame. Get the scene for displaying at input <num>,
-- where 0 is live, 1 is preview, 2 is the first channel to display
-- in the bottom bar, and so on up to num_channels()+1. t is the
-- current time in seconds. width and height are the dimensions of
-- the output, although you can ignore them if you don't need them
-- (they're useful if you want to e.g. know what to resample by).
--
-- <signals> is an object which you can query for information
-- about the signals at the point of the current frame. In particular,
-- you can call get_frame_width() and get_frame_height() for any
-- signal number, and use that to e.g. see if you wish to enable
-- a scaler or not. (You can also use get_width() and get_height(),
-- which return the _field_ size. This has half the height for
-- interlaced signals.)
--
-- You should return the scene to use, after having set any parameters you
-- want to set (through set_int() etc.). The parameters will be snapshot
-- at return time and used during rendering.
function get_scene(num, t, width, height, signals)
    local input_resolutions = {}
    for _, input in pairs(inputs) do
        local res = {
            width = signals:get_frame_width(input.signal),
            height = signals:get_frame_height(input.signal),
        }
        input_resolutions[input.signal] = res

        local text_res = signals:get_human_readable_resolution(input.signal)
        Nageru.set_channel_name(input.signal + 2, input.name .. " (" .. text_res .. ")")
    end

    if not audio_initialized then
        default_audio()
        audio_initialized = true
    end

    local signal_num = channel_to_signal(num)
    local composite_scene_id = channel_to_composite_scene_id(num)
    local composite
    if num == 0 then  -- Live (right pane).
        composite = live_composite
    elseif num == 1 then  -- Preview (left pane).
        composite = preview_composite
    elseif signal_num then
        composite = {composite_scene_id=FULLSCREEN_COMPOSITE, signals={signal_num}}
    elseif composite_scene_id then
        composite = {composite_scene_id=composite_scene_id, signals=preview_composite.signals}
    end
    return configure_scene(composite, width, height, input_resolutions)
end


function place_rectangle(input, x0, y0, x1, y1, screen_width, screen_height, input_width, input_height, hq)
    input.padding_effect:set_int("width", screen_width)
    input.padding_effect:set_int("height", screen_height)

    -- Cull.
    if x0 > screen_width or x1 < 0.0 or y0 > screen_height or y1 < 0.0 then
        input.resample_effect:choose(ResizeEffect)  -- Low-quality resizing.
        input.resample_effect:set_int("width", 1)
        input.resample_effect:set_int("height", 1)
        input.padding_effect:set_int("left", screen_width + 100)
        input.padding_effect:set_int("top", screen_height + 100)
        return
    end

    local srcx0 = 0.0
    local srcx1 = 1.0
    local srcy0 = 0.0
    local srcy1 = 1.0

    -- Clip.
    if x0 < 0 then
        srcx0 = -x0 / (x1 - x0)
        x0 = 0
    end
    if y0 < 0 then
        srcy0 = -y0 / (y1 - y0)
        y0 = 0
    end
    if x1 > screen_width then
        srcx1 = (screen_width - x0) / (x1 - x0)
        x1 = screen_width
    end
    if y1 > screen_height then
        srcy1 = (screen_height - y0) / (y1 - y0)
        y1 = screen_height
    end

    if hq then
        -- High-quality resampling. Go for the actual effect (returned by choose())
        -- since we want to set zoom_*, which will give an error if set on ResizeEffect.
        local resample_effect = input.resample_effect:choose(ResampleEffect)

        local x_subpixel_offset = x0 - math.floor(x0)
        local y_subpixel_offset = y0 - math.floor(y0)

        -- Resampling must be to an integral number of pixels. Round up,
        -- and then add an extra pixel so we have some leeway for the border.
        local width = math.ceil(x1 - x0) + 1
        local height = math.ceil(y1 - y0) + 1
        resample_effect:set_int("width", width)
        resample_effect:set_int("height", height)

        -- Correct the discrepancy with zoom. (This will leave a small
        -- excess edge of pixels and subpixels, which we'll correct for soon.)
        local zoom_x = (x1 - x0) / (width * (srcx1 - srcx0))
        local zoom_y = (y1 - y0) / (height * (srcy1 - srcy0))
        resample_effect:set_float("zoom_x", zoom_x)
        resample_effect:set_float("zoom_y", zoom_y)
        resample_effect:set_float("zoom_center_x", 0.0)
        resample_effect:set_float("zoom_center_y", 0.0)

        -- Padding must also be to a whole-pixel offset.
        input.padding_effect:set_int("left", math.floor(x0))
        input.padding_effect:set_int("top", math.floor(y0))

        -- Correct _that_ discrepancy by subpixel offset in the resampling.
        resample_effect:set_float("left", srcx0 * input_width - x_subpixel_offset / zoom_x)
        resample_effect:set_float("top", srcy0 * input_height - y_subpixel_offset / zoom_y)

        -- Finally, adjust the border so it is exactly where we want it.
        input.padding_effect:set_float("border_offset_left", x_subpixel_offset)
        input.padding_effect:set_float("border_offset_right", x1 - (math.floor(x0) + width))
        input.padding_effect:set_float("border_offset_top", y_subpixel_offset)
        input.padding_effect:set_float("border_offset_bottom", y1 - (math.floor(y0) + height))
    else
        -- Lower-quality simple resizing.
        input.resample_effect:choose(ResizeEffect)

        local width = round(x1 - x0)
        local height = round(y1 - y0)
        input.resample_effect:set_int("width", width)
        input.resample_effect:set_int("height", height)

        -- Padding must also be to a whole-pixel offset.
        input.padding_effect:set_int("left", math.floor(x0))
        input.padding_effect:set_int("top", math.floor(y0))

        -- No subpixel stuff.
        input.padding_effect:set_float("border_offset_left", 0.0)
        input.padding_effect:set_float("border_offset_right", 0.0)
        input.padding_effect:set_float("border_offset_top", 0.0)
        input.padding_effect:set_float("border_offset_bottom", 0.0)
    end
end

-- This is broken, of course (even for positive numbers), but Lua doesn't give us access to real rounding.
function round(x)
    return math.floor(x + 0.5)
end

function lerp(a, b, t)
    return a + (b - a) * t
end

function lerp_pos(a, b, t)
    return {
        x0 = lerp(a.x0, b.x0, t),
        y0 = lerp(a.y0, b.y0, t),
        x1 = lerp(a.x1, b.x1, t),
        y1 = lerp(a.y1, b.y1, t)
    }
end

function pos_from_top_left(x, y, width, height, screen_width, screen_height)
    local xs = screen_width / 1280.0
    local ys = screen_height / 720.0
    return {
        x0 = round(xs * x),
        y0 = round(ys * y),
        x1 = round(xs * (x + width)),
        y1 = round(ys * (y + height))
    }
end

function prepare_sbs_scene(sbs_scene, t, transition_type, src_signal, dst_signal, screen_width, screen_height, input_resolution, hq, coords0, coords1)
    local pos0 = pos_from_top_left(coords0.x, coords0.y, coords0.width,
                                   coords0.height, screen_width, screen_height)
    local pos1 = pos_from_top_left(coords1.x, coords1.y, coords1.width,
                                   coords1.height, screen_width, screen_height)

    local pos_fs = { x0 = 0, y0 = 0, x1 = screen_width, y1 = screen_height }
    local affine_param
    if transition_type == NO_TRANSITION then
        -- Static SBS view.
        affine_param = { sx = 1.0, sy = 1.0, tx = 0.0, ty = 0.0 }   -- Identity.
    else
        -- Zooming to/from SBS view into or out of a single view.
        assert(transition_type == ZOOM_TRANSITION)
        local signal, real_t
        if src_signal == SBS_SIGNAL_NUM then
            signal = dst_signal
            real_t = t
        else
            assert(dst_signal == SBS_SIGNAL_NUM)
            signal = src_signal
            real_t = 1.0 - t
        end

        if signal == INPUT0_SIGNAL_NUM then
            affine_param = find_affine_param(pos0, lerp_pos(pos0, pos_fs, real_t))
        elseif signal == INPUT1_SIGNAL_NUM then
            affine_param = find_affine_param(pos1, lerp_pos(pos1, pos_fs, real_t))
        end
    end

    -- NOTE: input_resolution is not 1-indexed, unlike usual Lua arrays.
    place_rectangle_with_affine(sbs_scene.input0, pos0, affine_param, screen_width, screen_height, input_resolution[0].width, input_resolution[0].height, hq)
    place_rectangle_with_affine(sbs_scene.input1, pos1, affine_param, screen_width, screen_height, input_resolution[1].width, input_resolution[1].height, hq)
end

-- Find the transformation that changes the first rectangle to the second one.
function find_affine_param(a, b)
    local sx = (b.x1 - b.x0) / (a.x1 - a.x0)
    local sy = (b.y1 - b.y0) / (a.y1 - a.y0)
    return {
        sx = sx,
        sy = sy,
        tx = b.x0 - a.x0 * sx,
        ty = b.y0 - a.y0 * sy
    }
end

function place_rectangle_with_affine(input, pos, aff, screen_width, screen_height, input_width, input_height, hq)
    local x0 = pos.x0 * aff.sx + aff.tx
    local x1 = pos.x1 * aff.sx + aff.tx
    local y0 = pos.y0 * aff.sy + aff.ty
    local y1 = pos.y1 * aff.sy + aff.ty

    place_rectangle(input, x0, y0, x1, y1, screen_width, screen_height, input_width, input_height, hq)
end

function calc_zoom_progress(state, t)
    if t < state.transition_start then
        return 0.0
    elseif t > state.transition_end then
        return 1.0
    else
        local tt = (t - state.transition_start) / (state.transition_end - state.transition_start)
        -- Smooth it a bit.
        return math.sin(tt * 3.14159265358 * 0.5)
    end
end

function calc_fade_progress(t, transition_start, transition_end)
    local tt = (t - transition_start) / (transition_end - transition_start)
    if tt < 0.0 then
        return 0.0
    elseif tt > 1.0 then
        return 1.0
    end

    -- Make the fade look maybe a tad more natural, by pumping it
    -- through a sigmoid function.
    tt = 10.0 * tt - 5.0
    tt = 1.0 / (1.0 + math.exp(-tt))

    return tt
end

-- vim: sw=4:et:ts=4:
