# {{ ansible_managed }}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name {{ etherpad.server_name }};

  ssl_certificate /etc/ssl/ansible/certs/etherpad.fullchain.pem;
  ssl_certificate_key /etc/ssl/ansible/private/etherpad.key;

  add_header Strict-Transport-Security "max-age=15552000";

  location / {
    proxy_pass http://127.0.0.1:9001;
    proxy_buffering off;
    proxy_http_version 1.1;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
  }
  location /admin {
    return 403;
  }
  location /socket.io {
    proxy_pass http://127.0.0.1:9001;
    proxy_http_version 1.1;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }

  access_log /var/log/nginx/etherpad-access.log;
  error_log /var/log/nginx/etherpad-error.log;
}
