---
# {{ ansible_managed }}
{% raw %}
groups:
  - name: general
    rules:
      - alert: InstanceDown
        expr: up == 0
        for: 5m
        labels:
          severity: page
        annotations:
          summary: "Instance {{ $labels.instance }} down"
          description: >
            "{{ $labels.instance }} has been down for more than 5 minutes."

      - alert: RAMUsageHigh
        expr: >
          100 - ((node_memory_MemAvailable_bytes * 100) /
          node_memory_MemTotal_bytes) > 90
        for: 1m
        labels:
          severity: page
        annotations:
          summary: "Instance {{ $labels.instance }} experiencing high RAM usage"
          description: >
            "{{ $labels.instance }} has had more than 90% RAM usage for more
            than 1 minute"

      - alert: CPUUsageHigh
        expr: >
          avg(node_load5) /  count(count(node_cpu_seconds_total) by (cpu)) > 95
        for: 1m
        labels:
          severity: page
        annotations:
          summary: "Instance {{ $labels.instance }} experiencing high CPU usage"
          description: >
            "{{ $labels.instance }} has had  more than 95% CPU usage for more
            than 1 minute"

      - alert: RootDiskFull
        expr: >
          100 - ((node_filesystem_avail_bytes{mountpoint="/",fstype!="rootfs"}
          * 100) / node_filesystem_size_bytes{mountpoint="/",fstype!="rootfs"})
          > 90
        for: 1m
        labels:
          severity: page
        annotations:
          summary: "Instance {{ $labels.instance }} has a nearly full root disk"
          description: >
            "{{ $labels.instance }} has a root file system that is more than 90%
            full"
{% endraw %}
