# {{ ansible_managed }}

[Unit]
Description=Voctomix create recording directory before midnight
Requisite=videoteam-record.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/videoteam-create-tomorrow /srv/video/{{ org }}/{{ show }}/dv/{{ room_name }}
