# {{ ansible_managed }}

[Unit]
Description=Voctomix ingest TCP Proxy {{ name }}
After=videoteam-voctocore.service
Requires=videoteam-voctocore.service
StartLimitIntervalSec=0
Conflicts=xlogout.target

[Service]
ExecStart=/usr/local/bin/videoteam-ingest-proxy \
    --host {{ ansible_default_ipv4.address }} \
    --port {{ port }} \
    --listen-port {{ 10000 + port }}
Restart=always
RestartSec=1s

[Install]
WantedBy=xlogin.target
