# {{ ansible_managed }}

[mix]
videocaps=video/x-raw,format=I420,width={{ voctomix.framesize.0 }},height={{ voctomix.framesize.1 }},framerate={{ voctomix.framerate | int }}/1,pixel-aspect-ratio=1/1,interlace-mode=progressive,colorimetry=bt709
audiocaps=audio/x-raw,format=S16LE,channels=2,layout=interleaved,rate=48000

; tcp-ports will be 10000,10001,etc.
sources={{ video_sources.keys() | join(",") }}

; required to get the presets working
livesources=slides

{% if voctomix.audio_mix_matrix is defined %}
audiomixmatrix={{ voctomix.audio_mix_matrix }}
{% endif %}

{% for id_, source in video_sources.items() %}
[source.{{ id_ }}]
{% for key, value in source.items() %}
{{ key }}={{ value }}
{% endfor %}

{% endfor %}

[source.background]
kind=img
file=/var/cache/voctomix/background.png

[blinder]
enabled=true

[source.blinder]
{% for key, value in video_blinder.items() %}
{{ key }}={{ value }}
{% endfor %}

[previews]
; disable if ui & server run on the same computer and can exchange uncompressed video frames
enabled={{ voctomix.previews }}
live=true
videodecoder=cpu
videoencoder=cpu
videocodec=jpeg
videocaps=video/x-raw,width=640,height=360,framerate={{ voctomix.framerate | int }}/1

[mirrors]
enabled={{ voctomix.mirrors }}

[composites]
; fullscreen source A (B is full transparent)
fs.a                  = *
fs.b                  = *
fs.alpha-b            = 0
fs.noswap             = true

; fullscreen source A (facing picture-in-picture)
fs-pip.a              = *
fs-pip.b              = 0.86/0.85 0.0
fs-pip.alpha-b        = 0
fs-pip.inter          = true
fs-pip.mirror         = true

; fullscreen source A (facing side-by-side)
fs-sbs.a              = *
fs-sbs.b              = 1.0/0.5 0.0
fs-sbs.alpha-b        = 0
fs-sbs.inter          = true

; fullscreen source A (facing side-by-side-preview)
fs-lec.a             = *
fs-lec.b             = 1.0 0.0
fs-lec.alpha-b       = 0
fs-lec.crop-b        = 0.31/0
fs-lec.inter         = true
fs-lec.mirror        = true

; picture-in-picture (fullscreen source A with B as small overlay)
pip.a                   = *
pip.b                   = 0.73/0.72 0.26
pip.noswap              = true
pip.mirror              = true

; side-by-side (source A at left and B at right side)
sbs.a                  = 0.008/0.25 0.49
sbs.b                  = 0.503/0.25 0.49

;side-by-side-preview (source A bigger and B smaller)
lec.a                  = 0.006/0.01 0.73
lec.b                  = 0.644/0.64 0.35
lec.mirror             = true

; side-by-side-preview (source A bigger and B smaller and cropped beside)
lec_43.a               = -0.125/0.0 1.0
lec_43.b               = 0.60/0.42 0.56
lec_43.crop-a          = 0.125/0
lec_43.crop-b          = 0.31/0
lec_43.mirror          = true

; fullscreen source B (overlapping A)
fs-b.a                  = *
fs-b.b                  = *
fs-b.noswap             = true

; fullscreen source B (facing side-by-side)
fs-b-sbs.a              = 0.0/0.5 0.0
fs-b-sbs.alpha-a        = 0.0
fs-b-sbs.b              = *
fs-b-sbs.inter          = true

; fullscreen source B (facing side-by-side-preview)
fs-b-lec.a             = 0.0/1.0 0.0
fs-b-lec.b             = *
fs-b-lec.inter         = true
fs-b-lec.mirror        = true

; one-opon-the-other (like one-opon-the-other but overlapping)
oao.a                   = 0.3/0.2 0.4
oao.alpha-a             = 0.5
oao.b                   = 0.2/0.3 0.6
oao.inter               = true
oao.noswap              = true

[transitions]
; list of transitions each one can be freely named and is a list of composites
; which will be morphed into an animation. Interpolation will be linear with two
; composites and B-Splines for more.

; unique name           =   ms, from / [... /] to
fs-fs                   = 750, fs / fs-b
fs-pip                  = 750, fs-pip / pip
fs-sbs                  = 750, fs-sbs / sbs
fs-b-pip                = 750, fs-b / pip
fs-b-sbs                = 750, fs-b-sbs / sbs
fs-lec                  = 750, fs-lec / lec
fs-b-lec                = 750, fs-b-lec / lec
fs-lec_43               = 750, fs-lec / lec_43
fs-b-lec_43             = 750, fs-b-lec / lec_43
pip-pip                 = 750, pip / sbs / pip
sbs-sbs                 = 750, sbs / oao / sbs
_sbs-sbs                = 750, ^sbs / ^oao / sbs

fs-pip_                 = 750, |fs-pip / |pip
fs-b-pip_               = 750, fs-b / |pip
fs-lec_                 = 750, fs-lec / |lec
fs-lec_43_              = 750, fs-lec / |lec_43
fs-b-lec_               = 750, fs-b-lec / |lec
fs-b-lec_43_            = 750, fs-b-lec / |lec_43
pip-pip_                = 750, |pip / sbs / |pip

; default blending
; unique name                       =   ms, from / [... /] to
def                     = 750, * / *

[toolbar.sources.a]
buttons={{ video_sources.keys() | join(",") }}

{% for id_ in video_sources.keys() if not id_ == 'slides' %}
{{ id_ }}.name = {{ id_ }}
{{ id_ }}.key = F{{ loop.index }}
{{ id_ }}.tip = Select source {{ id_ }} on channel A
{% endfor %}

; The default configuration uses F4 as the slides key.
slides.name = slides
slides.key = F4
slides.tip = Select source slides on channel A

[toobar.sources.b]
buttons={{ video_sources.keys() | join(",") }}

{% for id_ in video_sources.keys() if not id_ == 'slides' %}
{{ id_ }}.name = {{ id_ }}
{{ id_ }}.key = {{ loop.index }}
{{ id_ }}.tip = Select source {{ id_ }} on channel B
{% endfor %}

; The default configuration uses 4 as the slides key.
slides.name = slides
slides.key = 4
slides.tip = Select source slides on channel B

[toolbar.composites]
buttons = fs,sbs,lec

fs.name = FULL SCREEN
fs.key = F5
fs.tip = Show channel A on full screen

sbs.name = SIDE BY SIDE
sbs.key = F6
sbs.tip = Put channel A beside channel B

lec.name = LECTURE
lec.key = F7
lec.tip = Put cropped channel B beside large channel A

[toolbar.mods]
buttons = mirror,ratio

mirror.name = MIRROR
mirror.key = F9
mirror.replace = lec->|lec
mirror.tip = Horizontally mirror composite\n(e.g. when speaker moves to the other side)

ratio.name = 4:3
ratio.replace = lec->lec_43
ratio.key = F10
ratio.tip = Crop channel A to 4:3 ratio

[toolbar.mix]
buttons = cut,trans

cut.name      = HARD CUT
cut.key       = space
cut.tip       = Hard cut preview composite to output.
cut.expand    = True

trans.name    = CUT
trans.key     = Return
trans.tip     = Use transition to cut preview composite to output
trans.expand  = True

[toolbar.insert]
auto-off.name = AUTO-OFF
auto-off.key  = o
auto-off.tip  = automatically turn off insertion before every mix

update.name   = UPDATE
update.key    = u
update.tip    = Update current event

insert.name   = INSERT
insert.key    = i
insert.tip    = Show or hide current insertion
