#!/bin/bash
# {{ ansible_managed }}

COMMAND="/usr/bin/ffmpeg"

while test $# -gt 0
do
    T="$1"
    if [ "${T:0:32}" == "rtmp://a.rtmp.youtube.com/live2/" ]; then
        # T will contain the rtmp key from jitsi meet page.
        case "${T:32}" in
{% for room, key in jibri.streaming_keys.items() %}
        "{{ key|string }}")
            COMMAND="$COMMAND {{ jibri.voctomix_endpoints[room] }}"
            ;;
{% endfor %}
        *)
            echo "Incorrect streaming key provided"
            exit -1
        esac
    elif [ "$T" == "flv" ]; then
        COMMAND="$COMMAND matroska"
    elif [ "$T" == "-c:v" ]; then
        COMMAND="$COMMAND -c:v rawvideo"
        # Clear existing video codec settings
        shift
        COMMAND="$COMMAND -c:a pcm_s16le"
    elif [ "$T" == "-ar" ]; then
        COMMAND="$COMMAND -ar 48000"
        # Clear existing audio bit rate
        shift
    else
        COMMAND="$COMMAND $T"
    fi
    shift
done

echo "RUNNING FFMPEG: «$COMMAND»."

exec $COMMAND
PROCESS_FFMPEG=$!

echo "PID: ${PROCESS_FFMPEG}."
wait $PROCESS_FFMPEG
