# {{ ansible_managed }}
[Match]
Name={{ ifname }}
Type={{ iftype }}

[Link]
RequiredForOnline=yes

[Network]
Description={{ ifdesc }}

[Address]
{% if static %}
Address={{ address }}
{% else %}
DHCP=yes
{% endif %}

{% if gateway is defined %}
[Route]
Gateway={{ gateway }}
{% endif %}
